.TodoTemplate{
  width:512px;
  margin:auto;
  margin-top:6rem;
  border-radius: 4px;
  overflow: hidden;
}
.app-title{
  height:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: cornflowerblue;
  color:cornsilk
}
.content{
  background: white;
}